<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dne.ctrip.syndata.dao.EmployeeExportDao">

    <resultMap id="exportEmployeeInfoMap" type="com.dne.ctrip.excel.model.ExportEmpRowModel" >
        <result column="SF_USER_ID" jdbcType="INTEGER" property="sfUserId" />
        <result column="CWID" jdbcType="VARCHAR" property="cwid" />
        <result column="GENDER" jdbcType="VARCHAR" property="gender" />
        <result column="FIRST_NAME" jdbcType="VARCHAR" property="firstName" />
        <result column="LAST_NAME" jdbcType="VARCHAR" property="lastName" />
        <result column="CHINESE_NAME" jdbcType="VARCHAR" property="chineseName" />
        <result column="RANK_NAME" jdbcType="VARCHAR" property="rankName" />
        <result column="COMPANY_CODE" jdbcType="VARCHAR" property="companyCode" />
        <result column="COST_CENTER" jdbcType="VARCHAR" property="costCenter" />
        <result column="EMAIL" jdbcType="VARCHAR" property="email" />
        <result column="ORG_ID" jdbcType="INTEGER" property="orgId" />
        <result column="POSITION_ID" jdbcType="VARCHAR" property="positionId" />
        <result column="ORG_TXT" jdbcType="VARCHAR" property="orgTxt" />
        <result column="POSITION_TXT" jdbcType="VARCHAR" property="positionTxt" />
        <result column="MARK_DELETED" jdbcType="VARCHAR" property="markDeleted" />
        <result column="DIMISSION_DATE" jdbcType="TIMESTAMP" property="dimissionDate" />
        <result column="LOCATION" jdbcType="VARCHAR" property="location" />
        <result column="CREATED_DATE" jdbcType="TIMESTAMP" property="createdDate" />
        <result column="LAST_MODIFIED_DATE" jdbcType="TIMESTAMP" property="lastModifiedDate" />
    </resultMap>


    <select id="getCreateEmployeeInfo" parameterType="java.lang.String" resultMap="exportEmployeeInfoMap">
        SELECT
            SF_USER_ID,IPIN,CWID,GENDER,FIRST_NAME,LAST_NAME,CHINESE_NAME,RANK_NAME,
            COMPANY_CODE,COST_CENTER,COUNTRY,JOIN_DATE,ORG_ID,ORG_TXT,POSITION_ID,POSITION_TXT,EMAIL,
            DIMISSION_DATE,LOCATION,MARK_DELETED
            FROM b_ctrip_sync_employee
        WHERE batch_id = #{batchNo} AND OPERATE_STATUS = 'C'
    </select>

    <select id="getDeleteEmployeeInfo" parameterType="java.lang.String">


    </select>
</mapper>