<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dne.hrcentral.dao.HrCentralDao">

    <resultMap id="hrCentralEmployeeMap" type="com.dne.hrcentral.entity.HRCentralEmployee"
               extends="InternalMapper.BaseEmployeeInfoMap">
        <result property="userId" column="id"/>
    </resultMap>

    <select id="getEmployeeInfoList" parameterType="java.lang.String"
            resultMap="hrCentralEmployeeMap" statementType="CALLABLE">
        <![CDATA[
            {call SP_TRANSFER_HR_CENTRAL_DB_DATA(#{synAccount,mode=IN,jdbcType=VARCHAR})}
        ]]>
    </select>
</mapper>